</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-3"> </div>
        <div class="col-6">
            <div class="card">
                <img src="/images/coverImg.jpg" alt="coverImg">
                <div class="card-title text-center mt-3" id="title">
                    <h1><%=title%></h1>
                </div>
            
