<%- include('includes/headBeginning.ejs')%>
<%-include('includes/headEnd.ejs')%>
<script src="/javascript/register.js"></script>
</div>
<div class="card">
    <div class="card-title text-center mt-3">
        <h1 class="fieldTitle formTitle">WELCOME TO REGISTER </h1>
    </div>
    <div class="card-body" id = "formDiv">
        <form class="row g-3 needs-validation" method="post" >
            <div class="mb-3 col-lg-4 col-md-4">
                <label for="user" class="form-label">choose a username</label>
                <br>
                <input type="username" name="user" id="user" required>
                <br>
                <label for="email" class="form-label">choose your email</label>
                <br>
                <input type="email" pattern=".{8,}"   name="email" id="email" aria-describedby="emailHelp" required>
                <br>
                <div id="errorAlert"></div>
                <br>
                <form method="post" >
                    <input class="btn btn-outline-primary" type="submit" value="Next" formaction="/feed">
                </form>
            </div>

        </form>
    </div>

<%-include('includes/end.ejs')%>