body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.nav{
  position: sticky;
  top:0;
  z-index:1030;
}

.form{
  padding-left: 50px;
}

.a {
  color: #00B7FF;
}


.errorAlert{
  color: red;
}

.successfulRegistration{
  color: green;
}

.card{
  display: inline-block;
}
